<div class = "row">
  <div class="small-12 large-5 columns">
    <h1><%= @state.name %></h1>
    <h2>Search by brewery:</h2>
    <%= select_tag 'brewery', options_from_collection_for_select(@breweries, 'id', 'name'), include_blank: true %>
    <h2>Search by city:</h2>
    <%= select_tag 'cities', options_from_collection_for_select(@cities, 'id', 'name'), include_blank: true%>

    <%= link_to "States Page", states_path, class: "button radius" %>

  </div>

  <% if @brewery_location_array %>
    <%= render "state_brewery_map" %>
  <% end %>

</div>
