<h1><%= @brewery.name %></h1>

<ul>
  <li><%= @brewery.city %></li>
  <li><%= @brewery.street_address %></li>
  <li><%= @brewery.website %></li>
  <li><%= @brewery.phone %></li>
  <li><%= @brewery.hours_of_operation %></li>
</ul>
