<div class = "row">
  <div class="small-12 large-7 columns" id="brew-info">
    <h1><%= @brewery.name %></h1>

    <ul class="fa-ul">
      <% if @brewery.city && @brewery.street_address %>
        <li>
          <%= fa_icon "location-arrow", text: "#{@brewery.street_address} #{@brewery.city.name}, #{@brewery.state.name}" %>
        </li>
      <% end %>

      <% if @brewery.website %>
        <li><%= fa_icon "external-link" %> <%= link_to "Website", (@brewery.website) %></li>
      <% end %>

      <% if @brewery.phone %>
        <li>
          <%= fa_icon "phone", text: @brewery.phone %>
        </li>
      <% end %>

      <% if @brewery.hours_of_operation %>
        <li><%= fa_icon "clock-o", text: @brewery.hours_of_operation %></li>
      <% end %>
    </ul>

    <hr>

    <div id="reviews">

      <% if user_signed_in? %>
        <%= form_for :user_brewery do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :brewery_id, value: @brewery.id %>

          <%= f.submit "I visited this brewery", class: "button radius" %>
        <% end %>

      <% else %>
        <h4>Please sign up or sign in to add to your breweries</h4>
      <% end %>

      <h5>Reviews coming soon!</h5>
    </div>
  </div>



  <div>
    <% if ( (@brewery.latitude != nil) && (@brewery.longitude != nil) ) %>
      <%= render "single_brewery_map" %>
    <% end %>
  </div>

</div>
